<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
</head>

<body>
    <!-- header -->
    <header id="site-header" class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="d-flex w-100 justify-content-between">
                    <div class="flex-grow-1">
                        <a th:href="@{/home}" class="navbar-brand">
                            SupplyLink
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <span class="nav-item ml-auto position-relative" sec:authorize="hasRole('ROLE_CUSTOMER')">
                            <a th:href="@{/cart}" class="nav-link text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-shopping-cart">
                                    <circle cx="9" cy="21" r="1"></circle>
                                    <circle cx="20" cy="21" r="1"></circle>
                                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h8.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                </svg>
                            </a>
                            <!-- Sayıyı temsil eden daire -->
                            <span class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger"
                                th:if="${not #strings.isEmpty(cartItemCount)}" th:text="${cartItemCount}">
                            </span>
                        </span>
                        <span class="nav-item ml-auto" sec:authorize="isAnonymous()">
                            <a th:href="@{/login}" class="nav-link text-white">Login</a>
                        </span>
                        <span class="nav-item" sec:authorize="hasRole('ROLE_CUSTOMER')">
                            <a th:href="@{/myOrders}" class="nav-link text-white">My Orders</a>
                        </span>
                        <span class="nav-item" sec:authorize="hasRole('ROLE_SUPPLIER')">
                            <a th:href="@{/supplier/dashboard}" class="nav-link text-white">Supplier Dashboard</a>
                        </span>
                        <span class="nav-item" sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}" class="nav-link text-white">Logout</a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>